* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

div a {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: 1px;
}

div::after {
    content: "";
    border-bottom: 5px solid deeppink;
    margin: 0 auto;
    width: 0;
    transition: width 0.2s;
}

div:hover::after {
    width: 70px;
}
